<div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class="angular-logo">
                    <img src="assets/img/cardshallcup.png" alt="">
                </div>
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
            </div>

            <h2 class="presentation-subtitle text-center">Bem vindos ao maior league cup do interior!</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Spadille
    <!-- <h6 class="category category-absolute">Designed and coded by -->
       
    </h6>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">O Campeonato</h2>
                <h5 class="description">O nosso league cup acontecerá no dia <a href="#0" class="btn-primary"> &nbsp;29/07&nbsp; </a>. Na CardsHall Sorocaba, cujo endereço é <a href="#0" class="btn-primary"> &nbsp;R. Antônio Cândido Pereira, 91 - Jardim Faculdade, Sorocaba - SP, 18030-205.&nbsp; </a></h5>
                <br>
                <a href="https://www.cardshall.com.br/?view=ecom/item&ing=8479" class="btn btn-primary btn-round">Comprar Ingressos!</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Inscrição</h4>
                        <p class="description"><a href="#0" class="btn-primary">50 R$</a> Todo valor de inscrição é revertido para o pote, preço equivalente para todas as Categorias.</p>
                        <a href="https://www.cardshall.com.br/?view=ecom/item&ing=8479" class="btn btn-link btn-primary">Se Inscrever!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-money-coins"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Premiação</h4>
                        <p>O Torneio já iniciou com o Pote adquirido todas semanas na nossa liga semanal ou seja, além das inscrições de novos participantes, já iniciamos com um pote de + de 800 Reais.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-watch-time"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Check-In</h4>
                        <p>O Check-In inicia as 09h00, as 10h00 sairá a primeira rodada. Tenha em mãos seu POP id, e seu nome na ligapokemon.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-primary">
                        <i class="nc-icon nc-cart-simple"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Lanches e Café da manhã</h4>
                        <p>Será oferecido café da manhã opcional no dia, durante o horario do check-in, além disso durante o dia todo a nossa lanchonete estará aberta.</p>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Premiação</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <img  class="angular-logo" src="./assets/img/playmatee.png" alt="...">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Playmates</h4>
                                <h6 class="card-category">Para os 2 finalistas.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Premiação em créditos composta pelo pote dos semanais da CardsHall + inscrição de novos participantes. Já totalizando + de 1k de premiação.
                        </p>
                    </div>
                    
                </div>
            </div>  
            
        </div>
    </div>
</div>


<div class="section text-center">
    <div class="container">
        <h2 class="title">Formato</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <img class="angular-logo" src="./assets/img/sv02-header-logo.png" alt="...">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Evoluções em Paldea</h4>
                                <h6 class="card-category">Decklist Obrigatoria (Impressa junto ao seu player ID).</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A Deck list deve ser entregue no dia do campeonato junto ao check-in, todos decks devem conter sleeves. </p>
                    </div>
                    
                </div>
            </div>  
            
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Lanches</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <img src="./assets/img/lanches.png" alt="...">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Lanches</h4>
                                <h6 class="card-category">A Nossa hamburgueria ficaria aberta o dia todo durante o campeonato.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Também teremos cafe da manhã que será pago a parte da inscrição durante o periodo de check-in.
                        <a href="https://cardshall.menudino.com/" class="btn btn-link btn-primary"></a>
                        </p>
                    </div>
                    
                </div>
            </div>  
            
        </div>
    </div>
</div>

</div>
